<a href="https://colab.research.google.com/github/mvadrev/Titanic/blob/main/Assignment1_Titanic_binary_logistic_regression_Mukund.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
#import pytorch and pandas
import torch
import pandas as pd
#Set manual seed for reproducibility 
torch.manual_seed(1)

In [104]:
#USe pandas to read a csv and print the head
dataset = pd.read_csv('train.csv')
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [105]:
#Preprocess data
#Getting mean age 
avgAge = dataset['Age'].mean()
dataset.info()
dataset['Age'] = dataset['Age'].fillna(avgAge)
dataset.info()
dataset['Age'] = dataset['Age']/avgAge
dataset['Fare'] = dataset['Fare']/(dataset['Fare'].mean())
dataset['Sex'] = dataset['Sex'].map({'male': 0, 'female': 1})
dataset['Embarked'] = dataset['Embarked'].map({'S': 0, 'C': 1, 'Q': 2, 'nan': 3})
dataset['Embarked'] = dataset['Embarked'].fillna(0)
print(dataset['Embarked'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
[0. 1. 2.]

In [106]:
cleanedDataset = dataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked', 'Survived']]
cleanedDataset.head()

   Pclass  Sex       Age  SibSp      Fare  Embarked  Survived
0       3    0  0.740763      1  0.225126       0.0         0
1       1    1  1.279499      1  2.213478       1.0         1
2       3    1  0.875447      0  0.246086       0.0         1
3       1    1  1.178486      1  1.648853       0.0         1
4       3    0  1.178486      0  0.249967       0.0         0

In [107]:
xDataset = cleanedDataset[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked',]].values

In [108]:
yDataset = dataset[['Survived']].values

In [109]:
# Splitting data for cross validation
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(xDataset, yDataset, stratify=yDataset, random_state = 7)

In [110]:
from   torch.utils.data import Dataset
from torchvision.transforms import transforms
from torch.utils.data import DataLoader

class ds(Dataset):
    def __init__(self):
        self.x = torch.from_numpy(x_train)
        self.y = torch.from_numpy(y_train).view(-1,1)

    def __getitem__(self, i):        
        return self.x[i],self.y[i]
    
    def __len__(self):
        return len(self.x)

In [207]:
train_ds = ds() 
trainLoader = DataLoader(train_ds,)

In [208]:
#Define model
from torch import nn
import torch.nn.functional as F


class Titanic(nn.Module):
  def __init__(self,inputFeatures,outPutFeatures):
    super(Titanic,self).__init__()
    self.fc1 = torch.nn.Linear(inputFeatures,100)
    self.fc2 = torch.nn.Linear(100,50)
    self.fc3 = torch.nn.Linear(50,20)
    self.fc4 = torch.nn.Linear(20,1)
  

  def forward(self,x): 
    x = self.fc1(x)
    x = F.relu(x)
    x = self.fc2(x)
    x = F.relu(x)
    x = self.fc3(x)
    x = F.relu(x)
    x = self.fc4(x)
    return torch.sigmoid(x)

In [209]:
model = Titanic(6,1)
print(model)

Titanic(
  (fc1): Linear(in_features=6, out_features=100, bias=True)
  (fc2): Linear(in_features=100, out_features=50, bias=True)
  (fc3): Linear(in_features=50, out_features=20, bias=True)
  (fc4): Linear(in_features=20, out_features=1, bias=True)
)

In [210]:
import torch.optim as optim
# Loss function is binary cross entropy loss as this is a logistic regression problem
criterion = nn.BCELoss()
lr = 0.002
epochs = 1
#Using stoichastic gradient descent
optimizer = optim.SGD(model.parameters(),lr=lr,)

In [211]:
for epoch in range(70):
  for batchidx ,(inputs,labels) in enumerate(trainLoader):
    optimizer.zero_grad()
    outputs = model(inputs.float())
    loss = criterion(outputs, labels.float())
    loss.backward()
    optimizer.step()
  print(loss.item())

0.7981538772583008
0.7642055749893188
0.676468551158905
0.5562074780464172
0.4341519773006439
0.34252509474754333
0.27419981360435486
0.22478243708610535
0.18995647132396698
0.16624917089939117
0.15099740028381348
0.1404844969511032
0.13033345341682434
0.1200583204627037
0.10992493480443954
0.10146219283342361
0.093556709587574
0.08640662580728531
0.08086296916007996
0.0777634009718895
0.07403681427240372
0.07091446965932846
0.0680031105875969
0.06543862074613571
0.06273940950632095
0.06019007787108421
0.05807561054825783
0.056250058114528656
0.054425884038209915
0.05336599424481392
0.05164164677262306
0.05045843869447708
0.049251895397901535
0.04708411544561386
0.04566967114806175
0.044540178030729294
0.043449126183986664
0.042368337512016296
0.041394881904125214
0.04047419875860214
0.03950066119432449
0.03852707892656326
0.037802886217832565
0.036958664655685425
0.03622417151927948
0.035344354808330536
0.03455397114157677
0.03396984189748764
0.033106666058301926
0.032528676092624664
0.032281357795000076
0.03156019747257233
0.031151998788118362
0.030660932883620262
0.030170168727636337
0.029586566612124443
0.029529839754104614
0.028878262266516685
0.02844037301838398
0.027973314747214317
0.027575280517339706
0.027020195499062538
0.026701996102929115
0.02615724690258503
0.026058929041028023
0.025554029271006584
0.025108853355050087
0.02477867528796196
0.024494173005223274
0.023842083290219307

In [184]:
testDataSet = pd.read_csv('test.csv')
#Preprocess test.csv data
avgFare = testDataSet['Fare'].mean()
print("The average Fare is",avgFare)
avgAge = testDataSet['Age'].mean()
print("The average age is",avgAge)
print(testDataSet.info())
testDataSet['Age'] = testDataSet['Age'].fillna(avgAge)
testDataSet.info()
testDataSet['Age'] = testDataSet['Age']/avgAge
testDataSet['Fare'] = testDataSet['Fare']/avgFare
testDataSet['Sex'] = testDataSet['Sex'].map({'male': 0, 'female': 1})
testDataSet['Embarked'] = testDataSet['Embarked'].map({'S': 0, 'C': 1, 'Q': 2, 'nan': 3})
testDataSet['Embarked'] = testDataSet['Embarked'].fillna(0)
print(testDataSet['Embarked'].unique())
testDataSubSet = testDataSet[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked',]]
print(testDataSubSet [[ 'Fare']])
testDataSubSet [[ 'Age']]
testDataSet['Fare'] = testDataSet['Fare'].fillna(0)

The average Fare is 35.6271884892086
The average age is 30.272590361445783
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
[2 0 1]
         Fare
0    0.219754
1    0.196479
2    0.271913
3    0.243143
4    0.344891
..        ...
413  0.225951
414  3.056654
415  0.203496
416  0.225951
417  0.627563

[418 rows x 1 columns]

In [185]:
testDataSubSet
#Normalized age with mean age and fare with mean fare for faster training

     Pclass  Sex       Age  SibSp      Fare  Embarked
0         3    0  1.139645      0  0.219754         2
1         3    1  1.552560      1  0.196479         0
2         2    0  2.048057      0  0.271913         2
3         3    0  0.891896      0  0.243143         0
4         3    1  0.726730      1  0.344891         0
..      ...  ...       ...    ...       ...       ...
413       3    0  1.000000      0  0.225951         0
414       1    1  1.288294      0  3.056654         1
415       3    0  1.271778      0  0.203496         0
416       3    0  1.000000      0  0.225951         0
417       3    0  1.000000      1  0.627563         1

[418 rows x 6 columns]

In [186]:
testDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

In [187]:
class Testds(Dataset):
    def __init__(self):
        self.x = torch.from_numpy(testDataSubSet.values)

    def __getitem__(self, i):        
        return self.x[i]
    
    def __len__(self):
        return len(self.x)

In [188]:
validatioDS = Testds()
validationLoader = DataLoader(validatioDS)
len(validationLoader)

418

In [212]:
count = 0
total = len(validationLoader)
passengerList =testDataSet['PassengerId']
print(total)
submission = [['PassengerId', 'Survived']]
for i,(data) in enumerate(validationLoader):
  with torch.no_grad():
    output_ = model(data.float())
    print("The output is", output_)
    if (output_ >= 1): 
      output_ = 1
      submission.append([passengerList[i], output_])
    else:
      output_ = 0

      submission.append([passengerList[i], output_])

418
The output is tensor([[0.0964]])
The output is tensor([[0.1896]])
The output is tensor([[0.0666]])
The output is tensor([[0.1176]])
The output is tensor([[0.4499]])
The output is tensor([[0.1831]])
The output is tensor([[0.7489]])
The output is tensor([[0.2252]])
The output is tensor([[0.7054]])
The output is tensor([[0.1114]])
The output is tensor([[0.1089]])
The output is tensor([[0.2870]])
The output is tensor([[0.9762]])
The output is tensor([[0.0998]])
The output is tensor([[0.9744]])
The output is tensor([[0.9630]])
The output is tensor([[0.1485]])
The output is tensor([[0.1529]])
The output is tensor([[0.3556]])
The output is tensor([[0.3023]])
The output is tensor([[0.3072]])
The output is tensor([[0.2067]])
The output is tensor([[0.9676]])
The output is tensor([[0.5568]])
The output is tensor([[0.8979]])
The output is tensor([[0.0635]])
The output is tensor([[0.9808]])
The output is tensor([[0.1449]])
The output is tensor([[0.3352]])
The output is tensor([[0.0931]])
The output is tensor([[0.1238]])
The output is tensor([[0.1576]])
The output is tensor([[0.3851]])
The output is tensor([[0.4197]])
The output is tensor([[0.5554]])
The output is tensor([[0.1671]])
The output is tensor([[0.3098]])
The output is tensor([[0.4606]])
The output is tensor([[0.1238]])
The output is tensor([[0.2689]])
The output is tensor([[0.0855]])
The output is tensor([[0.4500]])
The output is tensor([[0.0867]])
The output is tensor([[0.8804]])
The output is tensor([[0.9740]])
The output is tensor([[0.1222]])
The output is tensor([[0.2566]])
The output is tensor([[0.1121]])
The output is tensor([[0.9546]])
The output is tensor([[0.2975]])
The output is tensor([[0.5247]])
The output is tensor([[0.1973]])
The output is tensor([[0.7871]])
The output is tensor([[0.9072]])
The output is tensor([[0.1779]])
The output is tensor([[0.0606]])
The output is tensor([[0.0983]])
The output is tensor([[0.1219]])
The output is tensor([[0.1045]])
The output is tensor([[0.8944]])
The output is tensor([[0.1518]])
The output is tensor([[0.1770]])
The output is tensor([[0.1462]])
The output is tensor([[0.8412]])
The output is tensor([[0.4450]])
The output is tensor([[0.9038]])
The output is tensor([[0.8765]])
The output is tensor([[0.2808]])
The output is tensor([[0.4310]])
The output is tensor([[0.8671]])
The output is tensor([[0.8216]])
The output is tensor([[0.1342]])
The output is tensor([[0.3238]])
The output is tensor([[0.4651]])
The output is tensor([[0.9237]])
The output is tensor([[0.2954]])
The output is tensor([[0.1090]])
The output is tensor([[0.9563]])
The output is tensor([[0.1838]])
The output is tensor([[0.8216]])
The output is tensor([[0.3269]])
The output is tensor([[0.1604]])
The output is tensor([[0.2646]])
The output is tensor([[0.1089]])
The output is tensor([[0.1689]])
The output is tensor([[0.1121]])
The output is tensor([[0.7890]])
The output is tensor([[0.5068]])
The output is tensor([[0.7455]])
The output is tensor([[0.5529]])
The output is tensor([[0.4652]])
The output is tensor([[0.1087]])
The output is tensor([[0.9770]])
The output is tensor([[0.1090]])
The output is tensor([[0.5126]])
The output is tensor([[0.1220]])
The output is tensor([[0.9625]])
The output is tensor([[0.1119]])
The output is tensor([[0.4708]])
The output is tensor([[0.1028]])
The output is tensor([[0.9818]])
The output is tensor([[0.2117]])
The output is tensor([[0.1121]])
The output is tensor([[0.1193]])
The output is tensor([[0.7200]])
The output is tensor([[0.1321]])
The output is tensor([[0.1564]])
The output is tensor([[0.1121]])
The output is tensor([[0.1097]])
The output is tensor([[0.2785]])
The output is tensor([[0.1298]])
The output is tensor([[0.7457]])
The output is tensor([[0.9696]])
The output is tensor([[0.8711]])
The output is tensor([[0.8935]])
The output is tensor([[0.1835]])
The output is tensor([[0.1079]])
The output is tensor([[0.7836]])
The output is tensor([[0.3682]])
The output is tensor([[0.8774]])
The output is tensor([[0.9426]])
The output is tensor([[0.1055]])
The output is tensor([[0.9838]])
The output is tensor([[0.1137]])
The output is tensor([[0.1121]])
The output is tensor([[0.6025]])
The output is tensor([[0.1308]])
The output is tensor([[0.8149]])
The output is tensor([[0.1411]])
The output is tensor([[0.1250]])
The output is tensor([[0.1050]])
The output is tensor([[0.1961]])
The output is tensor([[0.4544]])
The output is tensor([[0.1047]])
The output is tensor([[0.0832]])
The output is tensor([[0.1248]])
The output is tensor([[0.1253]])
The output is tensor([[0.2025]])
The output is tensor([[0.4208]])
The output is tensor([[0.1050]])
The output is tensor([[0.0916]])
The output is tensor([[0.9365]])
The output is tensor([[0.1375]])
The output is tensor([[0.2547]])
The output is tensor([[0.3227]])
The output is tensor([[0.0482]])
The output is tensor([[0.4495]])
The output is tensor([[0.1311]])
The output is tensor([[0.4500]])
The output is tensor([[0.1897]])
The output is tensor([[0.9802]])
The output is tensor([[0.1101]])
The output is tensor([[nan]])
The output is tensor([[0.2795]])
The output is tensor([[0.0379]])
The output is tensor([[0.1245]])
The output is tensor([[0.8969]])
The output is tensor([[0.4191]])
The output is tensor([[0.3227]])
The output is tensor([[0.4195]])
The output is tensor([[0.7454]])
The output is tensor([[0.3136]])
The output is tensor([[0.9018]])
The output is tensor([[0.1080]])
The output is tensor([[0.1439]])
The output is tensor([[0.4644]])
The output is tensor([[0.2474]])
The output is tensor([[0.1451]])
The output is tensor([[0.9734]])
The output is tensor([[0.4459]])
The output is tensor([[0.1085]])
The output is tensor([[0.1230]])
The output is tensor([[0.1256]])
The output is tensor([[0.1091]])
The output is tensor([[0.0931]])
The output is tensor([[0.9432]])
The output is tensor([[0.9388]])
The output is tensor([[0.3089]])
The output is tensor([[0.9021]])
The output is tensor([[0.9492]])
The output is tensor([[0.1838]])
The output is tensor([[0.4363]])
The output is tensor([[0.9768]])
The output is tensor([[0.1121]])
The output is tensor([[0.9164]])
The output is tensor([[0.1505]])
The output is tensor([[0.9336]])
The output is tensor([[0.1059]])
The output is tensor([[0.0132]])
The output is tensor([[0.1467]])
The output is tensor([[0.1642]])
The output is tensor([[0.4488]])
The output is tensor([[0.2240]])
The output is tensor([[0.0685]])
The output is tensor([[0.6165]])
The output is tensor([[0.1026]])
The output is tensor([[0.5663]])
The output is tensor([[0.5040]])
The output is tensor([[0.2164]])
The output is tensor([[0.3101]])
The output is tensor([[0.7739]])
The output is tensor([[0.4004]])
The output is tensor([[0.1991]])
The output is tensor([[0.9336]])
The output is tensor([[0.1993]])
The output is tensor([[0.4324]])
The output is tensor([[0.6703]])
The output is tensor([[0.2074]])
The output is tensor([[0.9714]])
The output is tensor([[0.1221]])
The output is tensor([[0.1197]])
The output is tensor([[0.1080]])
The output is tensor([[0.5189]])
The output is tensor([[0.7565]])
The output is tensor([[0.0678]])
The output is tensor([[0.3209]])
The output is tensor([[0.7461]])
The output is tensor([[0.2126]])
The output is tensor([[0.9311]])
The output is tensor([[0.1090]])
The output is tensor([[0.9394]])
The output is tensor([[0.1344]])
The output is tensor([[0.9108]])
The output is tensor([[0.1341]])
The output is tensor([[0.9493]])
The output is tensor([[0.5724]])
The output is tensor([[0.1278]])
The output is tensor([[0.7455]])
The output is tensor([[0.0931]])
The output is tensor([[0.1607]])
The output is tensor([[0.5660]])
The output is tensor([[0.9690]])
The output is tensor([[0.1240]])
The output is tensor([[0.1122]])
The output is tensor([[0.4552]])
The output is tensor([[0.1377]])
The output is tensor([[0.2537]])
The output is tensor([[0.1584]])
The output is tensor([[0.8841]])
The output is tensor([[0.9810]])
The output is tensor([[0.9464]])
The output is tensor([[0.8398]])
The output is tensor([[0.2648]])
The output is tensor([[0.1089]])
The output is tensor([[0.1119]])
The output is tensor([[0.4017]])
The output is tensor([[0.9313]])
The output is tensor([[0.1422]])
The output is tensor([[0.8774]])
The output is tensor([[0.5854]])
The output is tensor([[0.9406]])
The output is tensor([[0.1378]])
The output is tensor([[0.3736]])
The output is tensor([[0.1264]])
The output is tensor([[0.1051]])
The output is tensor([[0.1085]])
The output is tensor([[0.1121]])
The output is tensor([[0.1145]])
The output is tensor([[0.9274]])
The output is tensor([[0.1341]])
The output is tensor([[0.0895]])
The output is tensor([[0.1342]])
The output is tensor([[0.9128]])
The output is tensor([[0.7613]])
The output is tensor([[0.1748]])
The output is tensor([[0.1089]])
The output is tensor([[0.3057]])
The output is tensor([[0.1085]])
The output is tensor([[0.3098]])
The output is tensor([[0.1535]])
The output is tensor([[0.2683]])
The output is tensor([[0.1121]])
The output is tensor([[0.9761]])
The output is tensor([[0.8276]])
The output is tensor([[0.1091]])
The output is tensor([[0.9074]])
The output is tensor([[0.1865]])
The output is tensor([[0.1445]])
The output is tensor([[0.1804]])
The output is tensor([[0.2258]])
The output is tensor([[0.4261]])
The output is tensor([[0.3555]])
The output is tensor([[0.7455]])
The output is tensor([[0.8135]])
The output is tensor([[0.7880]])
The output is tensor([[0.0958]])
The output is tensor([[0.1082]])
The output is tensor([[0.5019]])
The output is tensor([[0.1091]])
The output is tensor([[0.1090]])
The output is tensor([[0.4595]])
The output is tensor([[0.7457]])
The output is tensor([[0.1091]])
The output is tensor([[0.2977]])
The output is tensor([[0.0976]])
The output is tensor([[0.1195]])
The output is tensor([[0.9789]])
The output is tensor([[0.0931]])
The output is tensor([[0.4593]])
The output is tensor([[0.1118]])
The output is tensor([[0.1048]])
The output is tensor([[0.1770]])
The output is tensor([[0.1479]])
The output is tensor([[0.1257]])
The output is tensor([[0.7455]])
The output is tensor([[0.9529]])
The output is tensor([[0.3704]])
The output is tensor([[0.3537]])
The output is tensor([[0.2683]])
The output is tensor([[0.2369]])
The output is tensor([[0.1481]])
The output is tensor([[0.1475]])
The output is tensor([[0.1086]])
The output is tensor([[0.6352]])
The output is tensor([[0.9503]])
The output is tensor([[0.8841]])
The output is tensor([[0.1871]])
The output is tensor([[0.2570]])
The output is tensor([[0.1168]])
The output is tensor([[0.1649]])
The output is tensor([[0.1193]])
The output is tensor([[0.1324]])
The output is tensor([[0.2025]])
The output is tensor([[0.4154]])
The output is tensor([[0.8978]])
The output is tensor([[0.1269]])
The output is tensor([[0.8535]])
The output is tensor([[0.2658]])
The output is tensor([[0.1968]])
The output is tensor([[0.2502]])
The output is tensor([[0.8298]])
The output is tensor([[0.3246]])
The output is tensor([[0.1091]])
The output is tensor([[0.7256]])
The output is tensor([[0.1168]])
The output is tensor([[0.4523]])
The output is tensor([[0.1761]])
The output is tensor([[0.0796]])
The output is tensor([[0.3260]])
The output is tensor([[0.1091]])
The output is tensor([[0.2688]])
The output is tensor([[0.1046]])
The output is tensor([[0.2010]])
The output is tensor([[0.6849]])
The output is tensor([[0.1030]])
The output is tensor([[0.5385]])
The output is tensor([[0.2025]])
The output is tensor([[0.3987]])
The output is tensor([[0.2226]])
The output is tensor([[0.9004]])
The output is tensor([[0.9671]])
The output is tensor([[0.1993]])
The output is tensor([[0.5058]])
The output is tensor([[0.1506]])
The output is tensor([[0.8102]])
The output is tensor([[0.2583]])
The output is tensor([[0.9677]])
The output is tensor([[0.1088]])
The output is tensor([[0.1121]])
The output is tensor([[0.3829]])
The output is tensor([[0.0054]])
The output is tensor([[0.9679]])
The output is tensor([[0.9004]])
The output is tensor([[0.1176]])
The output is tensor([[0.9854]])
The output is tensor([[0.6299]])
The output is tensor([[0.1121]])
The output is tensor([[0.7251]])
The output is tensor([[0.9661]])
The output is tensor([[0.1823]])
The output is tensor([[0.2258]])
The output is tensor([[0.9653]])
The output is tensor([[0.2170]])
The output is tensor([[0.1358]])
The output is tensor([[0.9740]])
The output is tensor([[0.8813]])
The output is tensor([[0.2774]])
The output is tensor([[0.2411]])
The output is tensor([[0.2356]])
The output is tensor([[0.0444]])
The output is tensor([[0.1121]])
The output is tensor([[0.1311]])
The output is tensor([[0.3562]])
The output is tensor([[0.5225]])
The output is tensor([[0.1826]])
The output is tensor([[0.9358]])
The output is tensor([[0.1247]])
The output is tensor([[0.1092]])
The output is tensor([[0.1563]])
The output is tensor([[0.0815]])
The output is tensor([[0.4485]])
The output is tensor([[0.9547]])
The output is tensor([[0.2568]])
The output is tensor([[0.1261]])
The output is tensor([[0.0498]])
The output is tensor([[0.9773]])
The output is tensor([[0.1400]])
The output is tensor([[0.9812]])
The output is tensor([[0.1308]])
The output is tensor([[0.1092]])
The output is tensor([[0.9289]])
The output is tensor([[0.1476]])
The output is tensor([[0.9806]])
The output is tensor([[0.6062]])
The output is tensor([[0.3796]])
The output is tensor([[0.2722]])
The output is tensor([[0.2037]])
The output is tensor([[0.1859]])
The output is tensor([[0.7454]])
The output is tensor([[0.7431]])
The output is tensor([[0.7455]])
The output is tensor([[0.9874]])
The output is tensor([[0.3369]])
The output is tensor([[0.1090]])
The output is tensor([[0.9704]])
The output is tensor([[0.0909]])
The output is tensor([[0.1090]])
The output is tensor([[0.1212]])

In [213]:
submission

[['PassengerId', 'Survived'],
 [892, 0],
 [893, 0],
 [894, 0],
 [895, 0],
 [896, 0],
 [897, 0],
 [898, 0],
 [899, 0],
 [900, 0],
 [901, 0],
 [902, 0],
 [903, 0],
 [904, 0],
 [905, 0],
 [906, 0],
 [907, 0],
 [908, 0],
 [909, 0],
 [910, 0],
 [911, 0],
 [912, 0],
 [913, 0],
 [914, 0],
 [915, 0],
 [916, 0],
 [917, 0],
 [918, 0],
 [919, 0],
 [920, 0],
 [921, 0],
 [922, 0],
 [923, 0],
 [924, 0],
 [925, 0],
 [926, 0],
 [927, 0],
 [928, 0],
 [929, 0],
 [930, 0],
 [931, 0],
 [932, 0],
 [933, 0],
 [934, 0],
 [935, 0],
 [936, 0],
 [937, 0],
 [938, 0],
 [939, 0],
 [940, 0],
 [941, 0],
 [942, 0],
 [943, 0],
 [944, 0],
 [945, 0],
 [946, 0],
 [947, 0],
 [948, 0],
 [949, 0],
 [950, 0],
 [951, 0],
 [952, 0],
 [953, 0],
 [954, 0],
 [955, 0],
 [956, 0],
 [957, 0],
 [958, 0],
 [959, 0],
 [960, 0],
 [961, 0],
 [962, 0],
 [963, 0],
 [964, 0],
 [965, 0],
 [966, 0],
 [967, 0],
 [968, 0],
 [969, 0],
 [970, 0],
 [971, 0],
 [972, 0],
 [973, 0],
 [974, 0],
 [975, 0],
 [976, 0],
 [977, 0],
 [978, 0],
 [979, 0],
 [980, 0],
 [981, 0],
 [982, 0],
 [983, 0],
 [984, 0],
 [985, 0],
 [986, 0],
 [987, 0],
 [988, 0],
 [989, 0],
 [990, 0],
 [991, 0],
 [992, 0],
 [993, 0],
 [994, 0],
 [995, 0],
 [996, 0],
 [997, 0],
 [998, 0],
 [999, 0],
 [1000, 0],
 [1001, 0],
 [1002, 0],
 [1003, 0],
 [1004, 0],
 [1005, 0],
 [1006, 0],
 [1007, 0],
 [1008, 0],
 [1009, 0],
 [1010, 0],
 [1011, 0],
 [1012, 0],
 [1013, 0],
 [1014, 0],
 [1015, 0],
 [1016, 0],
 [1017, 0],
 [1018, 0],
 [1019, 0],
 [1020, 0],
 [1021, 0],
 [1022, 0],
 [1023, 0],
 [1024, 0],
 [1025, 0],
 [1026, 0],
 [1027, 0],
 [1028, 0],
 [1029, 0],
 [1030, 0],
 [1031, 0],
 [1032, 0],
 [1033, 0],
 [1034, 0],
 [1035, 0],
 [1036, 0],
 [1037, 0],
 [1038, 0],
 [1039, 0],
 [1040, 0],
 [1041, 0],
 [1042, 0],
 [1043, 0],
 [1044, 0],
 [1045, 0],
 [1046, 0],
 [1047, 0],
 [1048, 0],
 [1049, 0],
 [1050, 0],
 [1051, 0],
 [1052, 0],
 [1053, 0],
 [1054, 0],
 [1055, 0],
 [1056, 0],
 [1057, 0],
 [1058, 0],
 [1059, 0],
 [1060, 0],
 [1061, 0],
 [1062, 0],
 [1063, 0],
 [1064, 0],
 [1065, 0],
 [1066, 0],
 [1067, 0],
 [1068, 0],
 [1069, 0],
 [1070, 0],
 [1071, 0],
 [1072, 0],
 [1073, 0],
 [1074, 0],
 [1075, 0],
 [1076, 0],
 [1077, 0],
 [1078, 0],
 [1079, 0],
 [1080, 0],
 [1081, 0],
 [1082, 0],
 [1083, 0],
 [1084, 0],
 [1085, 0],
 [1086, 0],
 [1087, 0],
 [1088, 0],
 [1089, 0],
 [1090, 0],
 [1091, 0],
 [1092, 0],
 [1093, 0],
 [1094, 0],
 [1095, 0],
 [1096, 0],
 [1097, 0],
 [1098, 0],
 [1099, 0],
 [1100, 0],
 [1101, 0],
 [1102, 0],
 [1103, 0],
 [1104, 0],
 [1105, 0],
 [1106, 0],
 [1107, 0],
 [1108, 0],
 [1109, 0],
 [1110, 0],
 [1111, 0],
 [1112, 0],
 [1113, 0],
 [1114, 0],
 [1115, 0],
 [1116, 0],
 [1117, 0],
 [1118, 0],
 [1119, 0],
 [1120, 0],
 [1121, 0],
 [1122, 0],
 [1123, 0],
 [1124, 0],
 [1125, 0],
 [1126, 0],
 [1127, 0],
 [1128, 0],
 [1129, 0],
 [1130, 0],
 [1131, 0],
 [1132, 0],
 [1133, 0],
 [1134, 0],
 [1135, 0],
 [1136, 0],
 [1137, 0],
 [1138, 0],
 [1139, 0],
 [1140, 0],
 [1141, 0],
 [1142, 0],
 [1143, 0],
 [1144, 0],
 [1145, 0],
 [1146, 0],
 [1147, 0],
 [1148, 0],
 [1149, 0],
 [1150, 0],
 [1151, 0],
 [1152, 0],
 [1153, 0],
 [1154, 0],
 [1155, 0],
 [1156, 0],
 [1157, 0],
 [1158, 0],
 [1159, 0],
 [1160, 0],
 [1161, 0],
 [1162, 0],
 [1163, 0],
 [1164, 0],
 [1165, 0],
 [1166, 0],
 [1167, 0],
 [1168, 0],
 [1169, 0],
 [1170, 0],
 [1171, 0],
 [1172, 0],
 [1173, 0],
 [1174, 0],
 [1175, 0],
 [1176, 0],
 [1177, 0],
 [1178, 0],
 [1179, 0],
 [1180, 0],
 [1181, 0],
 [1182, 0],
 [1183, 0],
 [1184, 0],
 [1185, 0],
 [1186, 0],
 [1187, 0],
 [1188, 0],
 [1189, 0],
 [1190, 0],
 [1191, 0],
 [1192, 0],
 [1193, 0],
 [1194, 0],
 [1195, 0],
 [1196, 0],
 [1197, 0],
 [1198, 0],
 [1199, 0],
 [1200, 0],
 [1201, 0],
 [1202, 0],
 [1203, 0],
 [1204, 0],
 [1205, 0],
 [1206, 0],
 [1207, 0],
 [1208, 0],
 [1209, 0],
 [1210, 0],
 [1211, 0],
 [1212, 0],
 [1213, 0],
 [1214, 0],
 [1215, 0],
 [1216, 0],
 [1217, 0],
 [1218, 0],
 [1219, 0],
 [1220, 0],
 [1221, 0],
 [1222, 0],
 [1223, 0],
 [1224, 0],
 [1225, 0],
 [1226, 0],
 [1227, 0],
 [1228, 0],
 [1229, 0],
 [1230, 0],
 [1231, 0],
 [1232, 0],
 [1233, 0],
 [1234, 0],
 [1235, 0],
 [1236, 0],
 [1237, 0],
 [1238, 0],
 [1239, 0],
 [1240, 0],
 [1241, 0],
 [1242, 0],
 [1243, 0],
 [1244, 0],
 [1245, 0],
 [1246, 0],
 [1247, 0],
 [1248, 0],
 [1249, 0],
 [1250, 0],
 [1251, 0],
 [1252, 0],
 [1253, 0],
 [1254, 0],
 [1255, 0],
 [1256, 0],
 [1257, 0],
 [1258, 0],
 [1259, 0],
 [1260, 0],
 [1261, 0],
 [1262, 0],
 [1263, 0],
 [1264, 0],
 [1265, 0],
 [1266, 0],
 [1267, 0],
 [1268, 0],
 [1269, 0],
 [1270, 0],
 [1271, 0],
 [1272, 0],
 [1273, 0],
 [1274, 0],
 [1275, 0],
 [1276, 0],
 [1277, 0],
 [1278, 0],
 [1279, 0],
 [1280, 0],
 [1281, 0],
 [1282, 0],
 [1283, 0],
 [1284, 0],
 [1285, 0],
 [1286, 0],
 [1287, 0],
 [1288, 0],
 [1289, 0],
 [1290, 0],
 [1291, 0],
 [1292, 0],
 [1293, 0],
 [1294, 0],
 [1295, 0],
 [1296, 0],
 [1297, 0],
 [1298, 0],
 [1299, 0],
 [1300, 0],
 [1301, 0],
 [1302, 0],
 [1303, 0],
 [1304, 0],
 [1305, 0],
 [1306, 0],
 [1307, 0],
 [1308, 0],
 [1309, 0]]

In [214]:
import csv
with open('submission.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerows(submission)